body{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

h1, h2, h3 {
  font-family: 'League Spartan', sans-serif;
  /* font-family: 'Carlito', sans-serif; */
}

h4, h5, h6 {
  font-family: 'Carlito', sans-serif;
}