@import "@cubing/icons/css"; 

:root {
  --colorWhite: #fff;
  --colorGrey1: #DBDBDB;
  --colorGrey2: #ABABAB;
  --colorBlack1: #3A3A3A;
  --colorBlack2: #1A1A1B;
  --colorBlack3: #101010;
  --colorRed1: #ce463e;
  --colorGreen1: #4caf50;
  --colorBlue1: #1E90FF;
  --colorBlue2: #384aa7;
  --colorCompTable1: #1e1e1f;
  --colorCompTable2: #272728;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB-Bold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB-SemiBold.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('/fonts/SpartanMB-Medium.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('/fonts/calibri_light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body{
  margin: 0;
  font-family: "Calibri", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background-color: var(--colorBlack2);
}

html{
  scroll-padding-top: 100px;
}

input, textarea{
  font-family: "Calibri", sans-serif;
  font-size: clamp(1.1rem, 1.4vw, 1.43rem);
}

h1, h2, h3, h4, p{
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
  font-family: "Spartan MB", sans-serif;
  font-weight: 500;
  font-size: clamp(2.6rem, 2.3vw, 3.4rem);
  color: #fff;
  padding: 24px 16px;
}

h2 {
  text-align: center;
  font-size: clamp(2.3rem, 2vw, 3rem);
  font-family: "Spartan MB", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 24px 16px;
}

h3 {
  font-size: clamp(1.1rem, 1.4vw, 1.43rem);
  font-family: "Spartan MB", sans-serif;
  font-weight: 500;
  color: #fff;
}

h4{
  font-size: clamp(0.8rem, 0.8vw, 1rem);
}

p {
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  color: #fff;
  font-weight: 300;
}

a {
  color: var(--colorBlue1);
  text-decoration: none;
}

.spaced {
  line-height: 1.5em;
}

.btn {
  font-family: "Spartan MB", sans-serif;
  font-weight: 400;
  font-size: clamp(1.1rem, 1.4vw, 1.43rem);
  border: 1px solid var(--colorGrey1);
  border-radius: 4px;
  background: none;
  color: var(--colorGrey1);
  padding: 10px 20px 6px 20px;
  cursor: pointer;
}

button:hover, .btn:hover {
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: var(--colorGrey1);
  color: var(--colorBlack3);
}