:root {
  --colorWhite: #fff;
  --colorGrey1: #DBDBDB;
  --colorGrey2: #ABABAB;
  --colorBlack1: #3A3A3A;
  --colorBlack2: #1A1A1B;
  --colorBlack3: #101010;
  --colorRed1: #d95c4f;
  --colorGreen1: #4caf50;
  --colorBlue1: #1E90FF;
  --colorBlue2: #384aa7;
  --colorCompTable1: #1e1e1f;
  --colorCompTable2: #272728;
}


body{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  overflow-x: hidden;
}

h2, h3, h4, h5, h6{
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: var(--colorGrey1);

}

h1 {
  margin: 0;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 500;
  color: var(--colorWhite);
  padding: clamp(12px, 2vw, 24px);
}

h4 {
  font-size: clamp(1.2rem, 1.4vw, 2rem);
  padding: clamp(12px, 2vw, 20px);
}

h5 {
  font-size: clamp(1.2rem, 1vw, 3rem);
  padding: clamp(4px, 0.8vw, 12px);
}

h6 {
  font-size: clamp(0.8rem, 1vw, 2rem);
  padding: clamp(6px, 1vw, 10px);
}


.blueLink{
  color: var(--colorBlue1);
}

.bgCol{
  background-color: var(--colorBlack2);
  color: var(--colorWhite);
}